/**
 * General CSS start
 *
 * @format
 */

/* 1rem = 16px */

* {
	margin: 0;
	padding: 0;
	font-family: OSC;
}

@font-face {
	font-family: OS;
	src: url("./assets/fonts/OpenSans.ttf");
}

@font-face {
	font-family: OSC;
	src: url("./assets/fonts/OpenSans-CondLight.ttf");
}

.btn {
	padding: 0.75rem 1.5rem;
	border-radius: 0.5rem;
	font-weight: 700;
	font-size: 1rem;
	line-height: 150%;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
	border-width: 2px;
	border-style: solid;
}

.btn_red,
.btn_transparent:hover {
	background-color: #de2e54;
	border-color: #de2e54;
}

.btn_red:hover {
	background-color: #fff;
	color: #de2e54; /* de - Red, 2e - Green, 54 - Blue */
}

.btn_transparent {
	background: transparent;
	border-color: #fff;
}

.section_title {
	font-weight: 700;
	font-size: 2.25rem;
	line-height: 120%;
	color: #fff;
}

.text_black {
	color: #000;
}

.text_white {
	color: #fff;
}

a {
	text-decoration: none;
}

/* General CSS finish */

/* Navbar CSS start */

nav {
	padding: 24px 170px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo_wrap a {
	display: flex;
	align-items: center;
}

.logo_wrap span {
	font-family: OS;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 2rem;
	margin-left: 1rem;
}

.logo_wrap span:hover {
	color: #de2e54;
}

.menu {
	display: flex;
	list-style: none;
}

.menu li {
	margin-left: 3rem;
	font-family: OS;
	font-size: 0.9rem;
	font-weight: 700;
	line-height: 150%;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.menu li:hover {
	color: #de2e54;
	cursor: pointer;
}

/* Navbar CSS finish */

/* Footer CSS start */

footer {
	padding: 24px 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #222;
	color: #fff;

	position: absolute;
	width: 1440px;
	height: 97.94px;
	left: 0px;
	top: 2370px;
}

header {
	position: absolute;
	width: 1440px;
	height: 97.94px;
	left: 0px;
	top: 0px;
}

/* Footer CSS finish */

/* hero part start */
.hero {
	position: absolute;
	width: 1440px;
	height: 533px;
	left: 0px;
	top: 98px;
	/* display: flex;
	flex-direction: row; */

	background: #0eb4c1;
}

/* hero text and content */
.right__text {
	position: absolute;
	font-family: OS;
	width: 500px;
	height: 293px;
	left: 170px;
	top: 120px;
}

.right__text h1 {
	font-family: OSC;
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 120%;
	color: #ffffff;
}

.right__text p {
	font-family: OS;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #ffffff;
}
.right__text button {
	margin-top: 23px;
	/*  */
}

.hero__img {
	position: absolute;
	width: 423px;
	height: 503rem;
	left: 847px;
	top: 29px;
}
/* starting service section  */
.services {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 80px;

	position: absolute;
	width: 864px;
	height: 1040px;
	left: 288px;
	top: 850px;
}

.service__heading {
	position: absolute;
	width: 8.3rem;
	height: 2.7rem;
	left: 40.87rem;
	top: 47rem;

	font-family: OSC;
	font-weight: 700;
	font-size: 2.2rem;
	line-height: 120%;
	color: #000;
	text-transform: uppercase;
	align-items: center;
}
.image__add__text {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px;
	gap: 64px;
	width: 864px;
	height: 200px;
}
.left__img {
	display: inline-block;
	width: 200px;
	height: 200px;
	/* background: url(image.png); */
	/* box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3); */
	border-radius: 24px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.text__place {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 24px;
	width: 600px;
	height: 149px;
	flex: none;
	order: 1;
	flex-grow: 0;
}

.hijoma {
	width: 67px;
	height: 29px;
	font-family: "OSC";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
	/* identical to box height, or 29px */
	color: #222222;
	flex: none;
	order: 0;
	flex-grow: 0;
}
.text {
	width: 600px;
	height: 96px;

	/* Body text */

	font-family: "OS";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	/* or 24px */

	color: #444444;
	flex: none;
	order: 1;
	flex-grow: 0;
}

.main__in__btn {
	box-sizing: border-box;
	position: absolute;
	width: 189px;
	height: 47px;
	left: 325px;
	top: 1100px;
}

.register {
	position: absolute;
	width: 100vw;
	height: 16rem;
	left: 1px;
	top: 2117px;
	text-align: center;
	background-color: #0eb4c1;
	padding: 4rem 0;
}

.register h2 {
	font-family: OSC;
	margin-bottom: 2.5rem;
}

.btns__container :first-child {
	margin-right: 2.25rem;
}
.btns__container :last-child {
	margin-left: 2.25rem;
}

/* finishing service section  */

@media screen and (max-width: 300px) {
	.hero {
		width: 100%;
		display: block;
	}

	.hero .right__text {
		position: absolute;
		left: 0;
		padding: 1rem;
		/* width: 60vw; */
	}
	.right__text p,
	h1 {
		font-size: small;
		width: 80vw;
		padding: 0 1.4rem;
	}

	.right__text > button {
		margin-left: 2.5rem;
	}

	.services {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0px;
		font-size: 1rem;
		position: absolute;
		width: 90vw;
		height: 35rem;
		left: 0.5rem;
		top: 850px;
	}

	.service__heading {
		position: absolute;
		width: max-content;
		height: 2.7rem;
		left: 6rem;
		top: 47rem;
	}

	.services .text {
		display: none;
	}

	.hijoma {
		position: absolute;
		left: 5rem;
		top: 12rem;
		width: 40vw;
		background-color: #fff;
		border-radius: 6px;
		padding: 8px;
		text-align: center;
		cursor: pointer;
	}

	.hijoma:active,
	.hijoma:hover,
	.services__imgs:active {
		transform: scale(1.2);
		opacity: 0.8;
	}

	.services__imgs {
		position: absolute;
		left: 0%;
		height: 18rem;
		display: inline-block;
	}

	.main__in__btn {
		position: absolute;
		left: 1.2rem;
		width: 80vw;
		margin-top: 3rem;
		background-color: #0eb4c1;
	}
	.menu {
		display: none;
	}

	.logo_wrap {
		float: left;
	}

	footer {
		display: none;
	}

	nav {
		padding: 20px;
		float: left;
		align-items: center;
		justify-content: space-between;
		gap: 2.5rem;
	}
	nav span {
		display: none;
	}

	.register h2 {
		width: 75vw;
		margin: auto;
	}
	.btns__container :first-child {
		margin-right: 1rem;
	}
	.btns__container :last-child {
		margin-left: 1rem;
	}

	.registr__btn {
		width: 75vw;
		text-align: center;
		margin: 1rem;
	}
}
