/**
 * General CSS start
 *
 * @format
 */

/* 1rem = 16px */

* {
	margin: 0;
	padding: 0;
	font-family: OSC;
}

@font-face {
	font-family: OS;
	src: url("./assets/fonts/OpenSans.ttf");
}

@font-face {
	font-family: OSC;
	src: url("./assets/fonts/OpenSans-CondLight.ttf");
}

.btn {
	padding: 0.75rem 1.5rem;
	border-radius: 0.5rem;
	font-weight: 700;
	font-size: 1rem;
	line-height: 150%;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
	border-width: 2px;
	border-style: solid;
}

.btn_red,
.btn_transparent:hover {
	background-color: #de2e54;
	border-color: #de2e54;
}

.btn_red:hover {
	background-color: #fff;
	color: #de2e54; /* de - Red, 2e - Green, 54 - Blue */
}

.btn_transparent {
	background: transparent;
	border-color: #fff;
}

.section_title {
	font-weight: 700;
	font-size: 2.25rem;
	line-height: 120%;
	color: #fff;
}

.text_black {
	color: #000;
}

.text_white {
	color: #fff;
}

a {
	text-decoration: none;
}

/* General CSS finish */

/* Navbar CSS start */

nav {
	padding: 24px 170px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo_wrap a {
	display: flex;
	align-items: center;
}

.logo_wrap span {
	font-family: OS;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 2rem;
	margin-left: 1rem;
}

.menu {
	display: flex;
	list-style: none;
}

.menu li {
	margin-left: 3rem;
	font-family: OS;
	font-size: 0.9rem;
	font-weight: 700;
	line-height: 150%;
	letter-spacing: 2px;
	text-transform: uppercase;
}

/* Navbar CSS finish */

/* starting service section  */
.services {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 80px;

	position: absolute;
	width: 864px;
	height: 1040px;
	left: 288px;
	top: 850px;
}

.image__add__text {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px;
	gap: 64px;
	width: 864px;
	height: 200px;
}
.left__img {
	display: inline-block;
	width: 200px;
	height: 200px;
	/* background: url(image.png); */
	/* box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3); */
	border-radius: 24px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.text__place {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 24px;
	width: 600px;
	height: 149px;
	flex: none;
	order: 1;
	flex-grow: 0;
}

.hijoma {
	width: 67px;
	height: 29px;

	/* Smaller heading */

	font-family: "OSC";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
	/* identical to box height, or 29px */
	color: #222222;
	flex: none;
	order: 0;
	flex-grow: 0;
}
.text {
	width: 600px;
	height: 96px;

	/* Body text */

	font-family: "OS";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	/* or 24px */

	color: #444444;

	/* Inside auto layout */

	flex: none;
	order: 1;
	flex-grow: 0;
}

.main__in__btn {
	box-sizing: border-box;
	position: absolute;
	width: 189px;
	height: 47px;
	left: 325px;
	top: 1100px;
}
/* finishing service section  */

/* Footer CSS start */

footer {
	padding: 24px 170px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #222;
	color: #fff;
}

/* Footer CSS finish */
